@if(type() == 'hotel'){
  <app-hotel-details [selectedTabValue]="selectedTabValue()" [gridType]="gridType()" [responsiveLatestFilter]="responsiveLatestFilter()" [mapFilter]="mapFilter()" [imageSlider]="imageSlider()" [noSidebar]="noSidebar()" />
}

@if(type() == 'hotel-list'){
  <app-hotel-list-details [selectedTabValue]="selectedTabValue()" [responsiveLatestFilter]="responsiveLatestFilter()" [imageSlider]="imageSlider()" [thumbnailImages]="thumbnailImages()" [description]="description()" [thumbnailVideo]="thumbnailVideo()" />
}

@if(type() == 'googleMap'){
  <app-google-map />
}

@if(type() == 'leafletMap'){
  <app-leaflet-map />
}

@if(type() == 'tour'){
  <app-tour-details [selectedTabValue]="selectedTabValue()" [gridType]="gridType()" [responsiveLatestFilter]="responsiveLatestFilter()" [includeText]="includeText()" [imageSlider]="imageSlider()" [noSidebar]="noSidebar()" />
}

@if(type() == 'tour-list'){
  <app-tour-list-details [selectedTabValue]="selectedTabValue()" [responsiveLatestFilter]="responsiveLatestFilter()" [imageSlider]="imageSlider()" [thumbnailImages]="thumbnailImages()" [description]="description()" [thumbnailVideo]="thumbnailVideo()" />
}

@if(type() == 'flight-list'){
  <app-flight-list-details [calender]="calender()" [flightClass]="flightClass()" [roundTrip]="roundTrip()" />
}

@if(type() == 'cab-list'){
  <app-cab-list-details [marginClass]="marginClass()" [responsiveLatestFilter]="responsiveLatestFilter()" [noSidebar]="noSidebar()" />
}

@if(type() == 'cab'){
  <app-cab-details [selectedTabValue]="selectedTabValue()" [gridType]="gridType()" [responsiveLatestFilter]="responsiveLatestFilter()" [imageSlider]="imageSlider()" [noSidebar]="noSidebar()" />
}

@if(type() == 'restaurant'){
  <app-restaurant-detail [selectedTabValue]="selectedTabValue()" [gridType]="gridType()" [responsiveLatestFilter]="responsiveLatestFilter()" [imageSlider]="imageSlider()" />
}
