@import 'theme/variables';
$theme-color1: #ef3f3e;
$theme-color2: #00a2f7;
// $theme-color1:var(--primary);
// $theme-color2: var(--secondary);

@import 'theme/style';
@import 'theme/menu';
@import 'theme/price-range';
@import 'theme/rtl';
@import 'theme/theme-dark';
@import 'theme/responsive';
