<div class="review-section">
  <div class="review_box" [class.shadow-none]="!title()">
    @if(title()){
    <div class="title-top">
      <h5>payment option</h5>
    </div>
    }
    <div class="flight_detail payment-gateway" [class.p-0]="!title()">
      <div class="accordion" id="accordionExample" ngbAccordion [closeOthers]="true">
        @if(hotelDetails){ @for(details of hotelDetails.hotelBooking; track details){
        <div class="card" ngbAccordionItem [collapsed]="details.panel !== 'First'">
          <div class="card-header" id="h_one">
            <button class="btn btn-link" ngbAccordionButton>
              <label for="{{ details.checkId }}">
                <input
                  type="radio"
                  class="radio_animated ms-0"
                  id="{{ details.checkId }}"
                  name="occupation"
                  value="Working"
                  [checked]="details.checked"
                  required
                />
                {{ details.title }}
              </label>
            </button>
          </div>
          <div id="one" class="collapse" ngbAccordionCollapse>
            <div class="card-body" ngbAccordionBody>
              <ng-template>
                @if(details.value === 'debit'){
                <app-booking-debit-card />
                } @if(details.value === 'credit'){
                <app-booking-credit-card />
                } @if(details.value === 'net_banking'){
                <app-booking-net-banking />
                } @if(details.value === 'wallet'){
                <app-booking-my-wallet />
                }
              </ng-template>
            </div>
          </div>
        </div>
        } }
      </div>
    </div>
  </div>
</div>
